nav{
    display: flex;
    width: 8rem;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 3rem;
    position: absolute;
}
a img{
    width: 25px;
    height: 25px;
    transition: all ease .2s;
}
a img:hover{
    transform: scale(1.25);
}